<head>
    <title>{{title}}</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark" style="height: 75px;">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link navbar-brand text-white" aria-current="page" routerLink="/"><span class="text-warning">Y</span>um<span class="text-warning">Y</span>um</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/aboutUs">About Us</a>
          </li>
          <li class="nav-item" *ngIf="role=='customer' || !isAuthorized()">
            <a class="nav-link text-white" routerLink="/restaurants">Restaurants</a>
          </li>
          <li class="nav-item" *ngIf="role=='employee' && restaurantId!=0">
            <a class="nav-link text-white" routerLink="/restaurant/{{restaurantId}}">My Restaurant</a>
          </li>
          <li class="nav-item" *ngIf="role=='customer'">
            <a class="nav-link text-white" routerLink="/myOrders">My orders</a>
          </li>
          <li class="nav-item" *ngIf="role=='employee'">
            <a class="nav-link text-white" routerLink="restaurantOrders" >Restaurant Orders</a>
          </li>
          <li class="nav-item" *ngIf="role=='employee'">
            <a class="nav-link text-white" routerLink="add-product">Add Product</a>
          </li>
          <li class="nav-item" *ngIf="role=='delivery'">
            <a class="nav-link text-white" routerLink="preparedOrders">Accept Order</a>
          </li>
          <li class="nav-item" *ngIf="role=='delivery'">
            <a class="nav-link text-white" routerLink="currentOrders">My Deliveries</a>
          </li>
          <li class="nav-item" *ngIf="role=='delivery'">
            <a class="nav-link text-white" routerLink="deliveredOrders">Delivered Orders</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <a class="nav-link text-white me-3" style="text-decoration: underline" routerLink="cart" *ngIf="role=='customer'">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-fill"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            Shopping Cart
          </a>

          <li class="nav-item" *ngIf="isAuthorized()">
            <a class="nav-link border bg-light text-dark rounded-pill pt-0 pb-0 pl-1 pr-1 me-3 mt-2" *ngIf="username">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
              </svg>
              {{username}}
            </a>
          </li>

          <li class="nav-item" *ngIf="isAuthorized()">
            <a class="nav-link text-white border bg-warning text-white rounded-pill pt-0 pb-0 pl-1 pr-1 mt-2"
              (click)="logout()" routerLink="/logout">Logout</a>
          </li>

          <li class="nav-item" *ngIf="!isAuthorized()">
            <a class="nav-link text-white" style="text-decoration: underline" routerLink="/login">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                class="bi bi-person-fill" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
              </svg>
              Login
            </a>
          </li>
          <li class="nav-item" *ngIf="!isAuthorized()">
            <a class="nav-link border bg-warning text-white rounded-pill pt-0 pb-0 pl-1 pr-1 mt-2" routerLink="register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="component-content">
    <router-outlet></router-outlet>
  </div>
  <footer class="text-center text-white pt-4 pb-3 mt-3 bg-warning">
    <p>© YumYum All Rights Reserved</p>
  </footer>
</body>