<div class="container">
    <div class="w-100 text-center p-2 mb-3 mt-3">
        <h2 class="mt-2">Orders:</h2>
    </div>
    <div *ngFor="let order of customerOrders" class="card mb-3">
        <div class="row">
            <div class="col-6 card-body p-5">
                <p>
                    <span class="fw-bold">Address: </span> St: {{ order.location.street }} No.{{ order.location.number
                    }}
                </p>
                <p>
                    <span class="fw-bold">Payment: </span> {{ order.paymentMethod }}
                </p>
                <p>
                    <span class="fw-bold">Status </span> {{ order.status }}
                </p>
                <p class="card-text"><small class="text-muted">Date created: {{order.dateCreated}}</small></p>

            </div>
            <div class="col-6  p-5">

                <p><span class="fw-bold">Products: </span> </p>
                <div *ngFor="let food of order.cart.cartConsistsOfFoodList">
                    <p>{{food.food.name}} X {{food.quantity}}</p>
                </div>
            </div>
        </div>
    </div>
</div>