<div id="home" class="img-fluid pt-5" style="background: url('assets/images/home.jpg') no-repeat center center; background-size:cover; height:700px; margin-top: -30px;">
        <div class="pt-5 container">
            <h1 style="font-size: 7rem" class="mt-5 pt-5"><span class="text-warning">Y</span>um<span class="text-warning">Y</span>um</h1>
            <h2 style="font-size: 3rem">Where Flavorful Moments</h2>
            <h3 style="font-size: 2rem">Are Delivered To Your Doorstep.</h3>
        </div>
</div>
<div class="container">
    <div>
        <h3>New Fresh Bites Discovery Hub</h3>
        <div class="row justify-content-between">
            <div *ngFor="let food of newFood" class="col-md-2 card p-3">
                <img src="{{food.photo}}" alt="" class="card-img-top img-fluid" style="object-fit: cover; height: 150px;">
                <div class="card-body">
                    <h6 class="text-center">{{ food.name }}</h6>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h3>Our Top 5 Restaurants:</h3>
        
    </div>
</div>