<div class="container">
    <div class="text-center">
        <div class="text-center mt-3">
            <div class="col-md-5 ">
                <img src="assets/images/aboutus.jpg" class="img-fluid w-100">
            </div>
            <div class="bg-white p-5" style=" width: 60%; height: 25rem; position: absolute; top:23%; left: 33%">
                <h3 style="opacity: 1;" class="text-start mb-2 text-warning">About Us</h3>
                <p style="opacity: 1; font-size: 1.3rem" class="text-start mt-2">At YumYum Kumanovo, we're not just a
                    food delivery app – we're your culinary companion, dedicated to transforming every meal into a
                    memorable experience. With a passion for flavor and a commitment to convenience, we've handpicked
                    the finest local kitchens to bring Kumanovo's gastronomic treasures to your table. From sizzling
                    sensations to comforting classics, we're here to tantalize your taste buds and curate a symphony of
                    tastes, all while ensuring each order is a seamless delight. Join us on this flavorful journey and
                    let YumYum Kumanovo redefine your relationship with food delivery.</p>
            </div>
        </div>
    </div>
</div>