<div class="row justify-content-center pt-5">
    <div class="col-md-6">
        <h1 class="display-5 mb-5 text-center">Thank you <span class="text-warning fw-bold">YUMMY</span> much for
            ordering from <br />
            <span class="fw-bold display-2"><span class="text-warning">Y</span>um<span
                    class="text-warning">Y</span>um</span>!
        </h1>
        <a routerLink="/restaurants" class="btn btn-outline-dark w-100 mb-5 p-3 fs-4">I Want More!</a>
        <a routerLink="/myOrders" class="btn btn-warning w-100 mb-5 p-3 fs-4">I've Ordered Enough For Now!</a>
    </div>
</div>